body{
    font-family: "Open Sans", sans-serif;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #00000033;
    padding-bottom: 1rem;
}

#menu{
    display: flex;
    gap: 1.2rem;
    list-style: none;
}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.buttonBlue{
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 5rem;
    text-decoration: none;
    border: none;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

#hero h1{
    font-size: 6rem;
}


#hero p{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

#hero img{
    max-width: 100%;
}

.mainInput{
    border-radius: 6rem;
    padding: 1.2rem 1rem 1.2rem 1rem;
    border: 1px solid rgba(0, 0, 0, 2);
    color: #aaa;
    background-color: #fafafa;
    margin-right: 1rem;
}

#partners{
    background-color: #FAFAFA;
    padding-bottom: 5rem;
}

#partners div{
    margin-top: 5rem;
}

.sectionTitle{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.brands{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

}

#commitments{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

#lernMore{
    font-size: 1.5rem;
    color: #3461FF;
    text-decoration: none;
    border: none;
}

h2{
    font-size: 4rem;
}

p{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

#howItWorkes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;

}
#workLeft img{
    max-width: 100%;
}

#OurWorkImages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#OurWork{
    text-align: center;
    padding-bottom: 10rem;
}

.workRightDiv{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.workRightImg{
    padding-top: 2rem;
}
h3{
    font-size: 2rem
}

/* how it would look on phones */
@media screen and (max-width: 500px) {
    #hero{
        grid-template-columns: 1fr;
        margin-top: 4rem;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    #header{
        flex-direction: column;
        gap: 4rem;
    }

    #menu{
        flex-direction: column;
    }
    .brands{
        grid-template-columns: 1fr;
    }
    .sectionTitle{
        text-align: center;
    }
    #commitments{
        grid-template-columns: 1fr;
        text-align: center;
    
    }
    #howItWorkes{
        grid-template-columns: 1fr;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
        gap: 0%;
    }
    .workRightDiv{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .workRightImg{
        padding-top: 0%;
    }
    #OurWorkImages{
        display: grid;
        grid-template-columns: 1fr;
    }
}
/* how it will look on tablets */
@media screen and (max-width: 850px) {
    #menu{
        flex-direction: column;
    }
    #hero{
        grid-template-columns: 1fr;
        margin-top: 4rem;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }
    #commitments{
        grid-template-columns: 1fr;
        text-align: center;
    
    }
    #howItWorkes{
        grid-template-columns: 1fr;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
        gap: 0%;
    }
    .workRightDiv{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .workRightImg{
        padding-top: 0%;
    }
    #OurWorkImages{
        display: grid;
        grid-template-columns: 1fr;
    }
    #OurWorkImages div{
        gap: 3rem;
    }
    .workRightImg{
        padding-top: 2rem;
    }
}

